:root {
  --vp-c-brand: #2882e0;
  --vp-button-brand-border: #2882e0;
  --vp-button-brand-hover-border: #2882e0;
  --vp-c-brand-light: #559ce7;
  --vp-c-brand-lighter: #2882e0;
  --vp-c-brand-lightest: #2882e0;
  --vp-c-brand-dark: #2882e0;
  --vp-c-brand-darker: #2882e0;
}