<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic App</title>
    <script src="https://unpkg.com/vue@next/dist/vue.runtime.global.js"></script>
    <script type="module" crossorigin src="/runtime/vue3/assets/page.js"></script>
    <link rel="modulepreload" href="/runtime/vue3/assets/vendor.3f0d9265.js">
    <link rel="modulepreload" href="/runtime/vue3/assets/resetcss.b08d57c8.js">
    <link rel="modulepreload" href="/runtime/vue3/assets/plugin-vue_export-helper.3811b543.js">
    <link rel="modulepreload" href="/runtime/vue3/assets/components.js">
    <link rel="stylesheet" href="/runtime/vue3/assets/resetcss.52e41e6b.css">
    <link rel="stylesheet" href="/runtime/vue3/assets/page.6c73043b.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
