.tmagic-stage-container-highlight::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .1;
  pointer-events: none;
}

.magic-ui-container.magic-layout-relative {
  min-height: 50px;
}
