.m-form-box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 90%;
  .el-box__header {
    margin: 0;
  }

  .m-box-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .dialog-footer {
    margin-top: 16px;
  }
}
