.m-form-box {
  display: flex;
  flex-direction: column;
  .el-box__header {
    margin: 0;
  }

  .dialog-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
