.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.m-form {
  .m-form-tip {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .m-form-schematic {
    max-width: 50%;
    height: 100%;
  }

  .el-table {
    .cell > div.m-form-container {
      display: block;
    }
  }

  .el-tabs {
    margin-bottom: 10px;
  }

  .el-form-item.hidden {
    > .el-form-item__label {
      display: none;
    }
  }

  .t-form__item.hidden {
    > .t-form__label {
      display: none;
    }
  }
}
