.m-fields-group-list {
  .el-button--text {
    padding: 0;
    margin-bottom: 7px;
  }

  .el-tree-node__expand-icon {
    padding: 0;
    margin-bottom: 7px;
    &.expand {
      transform: rotate(90deg);
    }
  }

  .m-fields-group-list-item {
    border-bottom: 1px solid #ebeef5;
    margin-bottom: 7px;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .tmagic-design-card {
    .el-card__header {
      padding: 5px 20px;
    }
    .t-card__header {
      padding: 5px 0;
    }
  }

  .m-fields-group-list-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}
