.m-fields-group-list {
  .m-fields-group-list-item.tmagic-design-card--flat:last-child {
    border: 0;
  }

  .el-button--text {
    padding: 0;
    margin-bottom: 7px;
  }

  .el-tree-node__expand-icon {
    padding: 0;
    margin-bottom: 7px;
    &.expand {
      transform: rotate(90deg);
    }
  }

  .m-fields-group-list-item {
    border-bottom: 1px solid #ebeef5;
    margin-bottom: 7px;

    &:last-of-type {
      border-bottom: 0;
    }

    .m-fields-group-list-item-header {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .m-fields-group-list-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
