.m-form-validate__warning {
  color: var(--el-color-warning);
  font-size: 12px;
  width: 100%;
  line-height: 1.4;
}

.tmagic-form-text-popper {
  min-width: 150px;
  line-height: 1.4;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  color: #606266;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  font-size: 14px;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.tmagic-form-text-popper[data-popper-placement^="top"]
  > .tmagic-form-text-popper-arrow {
  bottom: -4px;
}

.tmagic-form-text-popper[data-popper-placement^="bottom"]
  > .tmagic-form-text-popper-arrow {
  top: -4px;
}

.tmagic-form-text-popper[data-popper-placement^="left"]
  > .tmagic-form-text-popper-arrow {
  right: -4px;
}

.tmagic-form-text-popper[data-popper-placement^="right"]
  > .tmagic-form-text-popper-arrow {
  left: -4px;
}

.tmagic-form-text-popper-arrow,
.tmagic-form-text-popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.tmagic-form-text-popper-arrow {
  visibility: hidden;
}

.tmagic-form-text-popper-arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}
