.m-editor-code-block-list {
  margin-top: 5px;
  .el-tree-node__content {
    height: auto;
  }
  .el-tree-node__label {
    width: 100%;
  }
  .code-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .code-filter-input {
      margin: 0 5px;
    }
    .code-filter-input-no-btn {
      margin-left: 5px;
      margin-right: 10px;
    }
    .create-code-button {
      margin-left: 2px;
      margin-right: 10px;
    }
  }

  .divider {
    margin: 10px 0 0 0;
  }

  .list-container {
    width: 100%;
    overflow: hidden;
    margin-left: -25px;
    .list-item {
      display: flex;
      align-items: center;
      .right-tool {
        width: fit-content !important;
        display: flex;
        align-items: center;
        .edit-icon {
          margin: 0 5px;
        }
      }
      .code-name {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 15px;
        width: 0 !important;
        flex: 1;
      }
    }
    .code-comp-map-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 20px;
      margin-bottom: 5px;
      .arrow-left {
        transform: rotate(-45deg);
        width: 20px;
        height: 20px;
      }
      .code-comp {
        margin-left: 5px;
        padding: 5px;
        .comp-delete-icon {
          margin-left: 3px;
        }
      }
    }
  }
}

.m-fields-code-select {
  width: 100%;
}

.el-dialog.is-fullscreen.code-editor-dialog {
  overflow: hidden;
}

.code-editor-dialog {
  .el-dialog__body {
    height: 90%;
    padding-top: 10px;
  }
  .el-card {
    height: 100%;
    background: #fff;
    .el-card__body {
      height: 100%;
      background: #fff;
    }
  }

  .code-editor-layout {
    height: 100%;
    border: 1px solid #e4e7ed;

    .side-tree {
      height: 100%;
      overflow: auto;
      .el-tree-node__label {
        width: 100%;
      }

      .list-container {
        width: 100%;
        overflow: hidden;
        margin-left: -10px;
        .list-item {
          width: 100%;
          margin: 10px 0;
          line-height: 30px;
          .code-name {
            width: 100%;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .code-name-wrapper {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    .code-name-label {
      margin-right: 10px;
    }
    .code-name-input {
      width: 300px;
    }
  }

  .m-editor-code-block-editor-panel-list-mode {
    height: 100%;
    z-index: 10;
    background: #fff;
    .el-card {
      border: 0;
    }
  }

  .m-editor-code-block-editor-panel {
    position: absolute;
    top: 0;
    left: 4px;
    width: calc(100% - 9px);
    height: 100%;
    z-index: 10;
    background: #fff;
    .el-card {
      border: 0;
    }
  }

  .m-editor-wrapper {
    height: 100%;
    &.fullScreen {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
    }
    .m-editor-container {
      height: calc(100% - 45px);
    }
    .m-editor-content-bottom {
      height: 45px;
      width: 100%;
      display: flex;
      justify-content: end;
      background: #fff;
      position: absolute;
      right: 20px;
      bottom: 0;
      > button {
        height: 30px;
        margin-top: 5px;
      }
    }
  }
}
