.m-editor-code-block-list {
  padding-top: 20px;
  .create-code-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divider {
    margin: 10px 0 0 0;
  }

  .list-container {
    width: 100%;
    overflow: hidden;
    .list-item {
      display: flex;
      align-items: center;
      .right-tool {
        position: absolute;
        right: 15px;
        padding-left: 5px;
        background-color: #fff;
        display: flex;
        align-items: center;
        .edit-icon {
          padding: 0 5px;
        }
      }
      .code-name {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 15px;
        margin-right: 60px;
      }
    }
  }
}
.m-editor-code-block-editor-panel {
  position: absolute;
  top: 0;
  left: 4px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #fff;

  .code-name-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }

  .m-editor-content-bottom {
    text-align: right;
    padding-right: 20px;
    height: 40px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    background: #fff;
    > button {
      height: 30px;
      margin-top: 4px;
    }
  }
}
.m-fields-code-select {
  display: flex;
  width: 100%;
  align-items: center;
}
.code-editor-side-menu {
  width: 20%;
}
.m-editor-code-block-editor-panel-list-mode {
  width: 80%;
  position: absolute;
  height: 90%;
  left: 20%;
  top: 60px;
}
