.m-editor-code-block-list {
  height: 100%;
}

.m-fields-code-select {
  width: 100%;
  .el-card__header {
    display: none;
  }
}

.m-editor-code-block-editor {
  .tmagic-design-table {
    height: 180px;
  }

  .el-drawer__body {
    padding: 10px 20px;
  }

  &.m-form-box {
    width: 100%;
    min-width: 872px;
  }
}
