.m-editor-code-block-list {
  height: 100%;

  .magic-editor-layer-tree {
    padding-top: 48px;
  }

  .code-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .search-input {
      flex: 1;
      position: relative;
    }

    .create-code-button {
      margin-left: 2px;
      margin-right: 10px;
    }
  }

  .divider {
    margin: 10px 0 0 0;
  }

  .list-container {
    width: 100%;
    overflow: hidden;
    .list-item {
      display: flex;
      width: 100%;

      .right-tool {
        display: flex;
        width: fit-content !important;
        .edit-icon {
          margin: 0 5px;
        }
      }
      .code-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 0 !important;
        flex: 1;
        line-height: 18px;
      }
    }
  }
}

.m-fields-code-select {
  width: 100%;
  .edit-icon {
    cursor: pointer;
    margin-right: 5px;
  }
}

.el-dialog.is-fullscreen.code-editor-dialog {
  overflow: hidden;
}

.code-editor-dialog {
  .tmagic-design-card {
    .t-card__header {
      display: block;
    }
  }

  .el-dialog__body,
  .t-dialog__body {
    height: 90%;
    padding-top: 10px;
  }
  .tmagic-design-card {
    height: 100%;
    background: #fff;
    .el-card__body,
    .t-card__body {
      height: 100%;
      background: #fff;
    }
  }

  .code-editor-layout {
    height: 100%;
    border: 1px solid #e4e7ed;

    .side-tree {
      height: 100%;
      overflow: auto;
      .el-tree-node__label {
        width: 100%;
      }

      .list-container {
        width: 100%;
        overflow: hidden;
        margin-left: -10px;
        .list-item {
          width: 100%;
          margin: 10px 0;
          line-height: 30px;
          .code-name {
            width: 100%;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .code-name-wrapper {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    .code-name-label {
      margin-right: 10px;
    }
    .code-name-input {
      width: 300px;
    }
  }

  .m-editor-code-block-editor-panel-list-mode {
    height: 100%;
    z-index: 10;
    background: #fff;
    .el-card {
      border: 0;
    }
  }

  .m-editor-code-block-editor-panel {
    position: absolute;
    top: 0;
    left: 4px;
    width: calc(100% - 9px);
    height: 100%;
    z-index: 10;
    background: #fff;
    .el-card {
      border: 0;
    }
  }

  .m-editor-wrapper {
    height: 100%;
    &.fullScreen {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
    }
    .m-editor-container {
      height: calc(100% - 45px);
    }
    .m-editor-content-bottom {
      height: 45px;
      width: 100%;
      display: flex;
      justify-content: end;
      background: #fff;
      position: absolute;
      right: 20px;
      bottom: 0;
      > button {
        height: 30px;
        margin-top: 5px;
      }
    }
  }
}
