.magic-editor-content-menu {
  position: fixed;
  font-size: 12px;
  background: #fff;
  box-shadow: 0 2px 8px 2px rgba(68, 73, 77, 0.16);
  z-index: 1000;
  transform-origin: 0% 0%;
  font-weight: 600;
  padding: 4px 0px;
  overflow: auto;
  max-height: 80%;
  min-width: 180px;

  .menu-item {
    color: #333;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    min-width: 140px;
    transition: all 0.2s ease 0s;
    padding: 5px 14px;
    border-left: 2px solid transparent;

    .el-button {
      width: 100%;
      justify-content: flex-start;
    }

    .el-button--text,
    i {
      color: $--font-color;
    }

    .magic-editor-icon {
      margin-right: 5px;
    }

    &.divider {
      padding: 0 14px;

      .el-divider {
        margin: 0;
      }
    }

    &.button {
      &:hover {
        background-color: $--hover-color;
        .tmagic-design-button,
        .tmagic-design-button:active,
        .tmagic-design-button:focus {
          color: $--font-color;
        }

        &.menu-item i {
          color: $--font-color;
        }
      }

      &.active {
        background-color: $--theme-color;
        .tmagic-design-button,
        .tmagic-design-button:active,
        .tmagic-design-button:focus {
          color: #fff;
          background-color: transparent;
        }

        &.menu-item i {
          color: #fff;
        }
      }
    }
  }
}
