.data-source-list-panel {
  .list-container {
    .list-item {
      .codeIcon {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }

      .compIcon {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }
    }
  }
}

.data-source-list-panel-add-menu {
  padding: 4px 0;

  .menu-item {
    cursor: pointer;
    transition: all 0.2s ease 0s;
    padding: 5px 14px;

    &:hover {
      background-color: $--hover-color;
    }
  }
}
