.m-editor-data-source-fields {
  width: 100%;

  .tmagic-design-table {
    width: 100%;
  }

  .m-editor-data-source-fields-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
}
