.tmagic-data-source-input-text {
  .el-input__wrapper.tmagic-data-source-input-text-wrapper {
    overflow: hidden;
    padding-right: 30px;
  }

  .el-input__inner {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }

  .tmagic-data-source-input-icon {
    position: absolute;
    right: 7px;
  }
}
