.data-source-list-panel {
  .list-container {
    .list-item {
      .codeIcon {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }

      .compIcon {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }
    }
  }
}

.data-source-list-panel-add-menu {
  .tmagic-design-button {
    width: 100%;
    text-align: left;

    span {
      width: 100%;
    }
  }
}
