.data-source-list-panel {
  .list-container {
    .list-item {
      .codeIcon {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }

      .compIcon {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }
    }
  }
}
