.m-container-text.display-conds-title {
  .tmagic-design-form-item {
    .el-form-item__label {
      color: #111;
      font-weight: 500;
      font-size: 16px;
    }
    line-height: 24px;
    margin-bottom: 10px;
  }
}
