.m-editor-float-box {
  position: absolute;
  background-color: #fff;
  z-index: 100;
  border: 1px solid $--border-color;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;

  .m-editor-float-box-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $--border-color;
  }

  .m-editor-float-box-body {
    overflow: auto;
    flex: 1;
    padding: 0 16px;
  }
}

.m-editor-floating-box-moveable {
  opacity: 0;
}
