.m-editor-float-box-list {
  .m-editor-float-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 966px;
    top: 240px;
    left: 240px;
    background: #fff;
    box-sizing: border-box;
    z-index: 999;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    border: 1px solid #eee;
    box-shadow: 0 0 72px #ccc;
    &-header {
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 44px;
      border-bottom: 1px solid #d8dee8;
      &:hover {
        cursor: pointer;
      }
    }
    &-body {
      display: flex;
      flex: 1;
      width: 100%;
      overflow: scroll;
      > *:first-child {
        min-width: 247px;
        border-right: 1px solid #d8dee8;
      }
    }

    &-close {
      position: absolute;
      right: 16px;
    }
  }
  .moveable-resizable {
    opacity: 0;
  }
}
