.m-fields-key-value {
  display: flex;
  justify-items: center;
  align-items: top;
  width: 100%;
}

.m-fields-key-value-item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.m-fileds-key-value-delimiter {
  margin: 0 10px;
}

.m-fileds-key-value-delete {
  margin-left: 10px;
}
