@use "common/var" as *;

.m-editor-layer-panel {
  background: $sidebar-content-background-color;

  .m-editor-tree {
    padding-top: 48px;

    .tree-node-tool {
      padding-right: 10px;

      .tmagic-design-button + .tmagic-design-button {
        margin-left: 2px;
      }
    }

    .tree-node.selected {
      .tree-node-tool {
        .tmagic-design-button {
          color: #fff;
        }
      }
    }
  }

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .search-input {
      flex: 1;
      position: relative;
    }

    .tmagic-design-button {
      margin-right: 10px;
    }
  }
}
