.m-editor-page-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: $--page-bar-height;
  line-height: $--page-bar-height;
  color: $--font-color;
  background-color: #f3f3f3;
  border-top: 1px solid $--border-color;
  z-index: 2;
  overflow: hidden;

  &-items {
    display: flex;
    transition: transform 0.3s;
  }

  &-item {
    padding: 0 10px;
    cursor: pointer;
    border-right: 1px solid $--border-color;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f3f3f3;

    &.active {
      background-color: #fff;
      cursor: text;

      .m-editor-page-bar-menu-icon {
        cursor: pointer;
      }
    }

    &-icon {
      position: relative;
      z-index: 1;
    }

    .m-editor-page-bar-title {
      max-width: 150px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
