.m-editor-props-panel {
  padding: 0 10px 50px 10px;

  .m-editor-props-panel-src-icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 30;
  }

  .m-editor-props-panel-src-code.magic-code-editor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  &.small {
    .el-form-item__label {
      font-size: 12px;
    }

    .m-fieldset {
      legend {
        font-size: 12px;
      }
    }

    .el-tabs__item {
      font-size: 12px;
    }
  }

  .el-input__wrapper {
    border-radius: 0;
  }

  .m-fields-group-list {
    .tmagic-design-table {
      th {
        font-size: 12px;
      }
    }
  }
}

.m-editor-props-panel-popper {
  &.small {
    span,
    a,
    p {
      font-size: 12px;
    }
  }
}
