.m-editor-props-panel {
  padding: 0 10px;

  &.small {
    .el-form-item__label {
      font-size: 12px;
    }

    .m-fieldset {
      legend {
        font-size: 12px;
      }
    }

    .el-tabs__item {
      font-size: 12px;
    }
  }

  .el-input__wrapper {
    border-radius: 0;
  }

  .m-fields-group-list {
    .tmagic-design-table {
      th {
        font-size: 12px;
      }
    }
  }
}

.m-editor-props-panel-popper {
  &.small {
    span,
    a,
    p {
      font-size: 12px;
    }
  }
}
