.m-editor-resizer {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: 8px;
  margin: 0 -5px;
  height: 100%;
  opacity: 0.8;
  background: padding-box #d8dee8;
  box-sizing: border-box;
  cursor: col-resize;
  z-index: 1;
  position: relative;

  &:hover {
    border-color: #d8dee8;

    .icon-container {
      visibility: visible;
      opacity: 1;
    }
  }

  &.m-editor-resizer-draging {
    &::after {
      content: "";
      position: absolute;
      width: 600px;
      height: 100%;
      left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 600px;
      height: 100%;
      right: 0;
    }
  }

  .icon-container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
    width: 20px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: #d8dee8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &.position-left {
      transform: translate(calc(-100% - 4px), -50%);
    }
    &.position-right {
      transform: translate(calc(100% + 4px), -50%);
    }
  }
  .icon {
    color: #fff;
    font-size: 18px;
  }
}
