.m-editor-stage {
  position: relative;
  width: 100%;
  height: calc(100% - $--page-bar-height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-editor-stage-container {
  transition: transform 0.3s;
  z-index: 0;
  position: absolute;
  border: 1px solid $--border-color;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
