.m-editor-stage {
  position: relative;
  width: 100%;
  height: calc(100% - #{$--page-bar-height});
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus-visible {
    outline: none;
  }
}

.m-editor-stage-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  transition: transform 0.3s;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
