.m-editor-stage {
  position: relative;
  width: 100%;
  height: calc(100% - #{$--page-bar-height});
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus-visible {
    outline: none;
  }
}

.m-editor-stage-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  transition: transform 0.3s;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.m-editor-stage-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  z-index: 20;
  overflow: auto;
}

.m-editor-stage-overlay-container {
  position: relative;
  flex-shrink: 0;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.m-editor-stage-overlay-close.tmagic-design-icon {
  position: fixed;
  right: 20px;
  top: 10px;
}

.m-editor-stage-float-button {
  cursor: pointer;
  transform: translateY(-50%);
  width: 12px;
  font-size: 12px;
  line-height: 1.2;
  position: absolute;
  left: 100%;
  top: 50%;
  padding: 5px;
  background-color: #ffffff;
  transition: background-color 0.2s;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.m-editor-node-list-menu {
  height: 100%;
  width: 100%;
  min-width: 300px;
  max-height: 500px;
}
